RewriteEngine On

RewriteRule noview/(.*)/(.*)/$ /index.php?noview=TRUE&cl=$1&fn=$2 [L]
RewriteRule (.*)/(.*)/id/(.*)/datefrom/(.*)/dateto/(.*)/$ /index.php?cl=$1&fn=$2&id=$3&from=$4&to=$5 [L]
RewriteRule csv/(.*)/(.*)/id/(.*)/$ /index.php?csv=TRUE&cl=$1&fn=$2&id=$3 [L]
RewriteRule (.*)/(.*)/id/(.*)/$ /index.php?cl=$1&fn=$2&id=$3 [L]
RewriteRule (.*)/(.*)/$ /index.php?cl=$1&fn=$2 [L]
RewriteRule sitemap.xml$ /index.php?cl=sitemap&fn=view [L]

